

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.nameHighlight{
    background: -webkit-linear-gradient(#f7b42c, #fc575e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.halfWidth img{
    width: 100%;
}