

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.nameHighlight{
    background: -webkit-linear-gradient(#f7b42c, #fc575e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quote{
    font-size: 25px;
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.halfWidth img{
    width: 100%;
}
.topBanner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
    
}
section{
    height: 700px;
}
.linkButton{
    text-decoration: none;
    background-image: linear-gradient(#f7b42c, #fc575e);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.midBanner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
   background-position: right;
    
    
}